# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IdeaProject\day36-jsp-el\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
